*.o
*.obj
*.slo
*.lo
*.swp
*.rdb
*.gch
*.pch
*.pid
*.log
**/CMakeFiles/
**/log/
**/protobuf-2.6.1/
**/apache-log4cxx-0.10.0/
**/trash/
**/msfsbasedir/
**/offline_file/
**/core_bak/

**/src/login_server/Makefile
**/src/login_server/login_server

**/src/msg_server/Makefile
**/src/msg_server/msg_server

**/src/route_server/Makefile
**/src/route_server/route_server

**/src/db_proxy_server/Makefile
**/src/db_proxy_server/db_proxy_server

**/src/msfs_server/Makefile
**/src/msfs_server/msfs_server

**/src/file_server/Makefile
**/src/file_server/file_server

core

CMakeCache.txt
CMakeLists.txt.user
server.pid
cmake_install.cmake

